<div style="padding: 10px;">
  <div class="btn-group">
    <a style="background-color:#1e272e; border: #1e272e" routerLink="/dashboard/process/expenses/new" class="btn btn-primary active" aria-current="page">New Expense</a>&nbsp;
    <a style="background-color: #1e272e; border: #1e272e" routerLink="/dashboard/process/expenses/find" class="btn btn-primary active" >Find Expense By id</a>&nbsp;
    <a style="background-color: #1e272e; border: #1e272e" routerLink="/dashboard/process/expenses/update" class="btn btn-primary active" >Update</a>&nbsp;
    <a style="background-color: #1e272e; border: #1e272e" routerLink="/dashboard/process/expenses/list" class="btn btn-primary active" >Load All Data</a>

  </div>
</div>
<hr>
<router-outlet></router-outlet>
