body{
  background-color: #e6e6e6;
  width: 100%;
  display: block;
}

.header-outer{
  width: 100%;
  height: 60px;
  background-color: #0a2033;
  display: flex;
  align-items: center;

}
.button-header{
  margin-left: 10px;
}
